<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RodinaUrodina.Properties.Settings.shopDBConnectionString"
            connectionString="Data Source=BLACKFOX232;Initial Catalog=shopDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RodinaUrodina.Properties.Settings.RodinaUrodinaConnectionString"
            connectionString="Data Source=BLACKFOX232;Initial Catalog=RodinaUrodina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>